@charset "UTF-8";
body{
    background-image: url(imagens/wallpaper001.jpg);
}
.quadrado{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
.quadrado#q1{
    background-color: lightgray;
}
.quadrado#q2{
    background-image: linear-gradient(to bottom, yellow,red);
}
.quadrado#q3{
    background-image: url(imagens/pattern003.png);
}