@charset "UTF-8";

.container{
    background-color: salmon;
    display: flex;
    flex-flow: row wrap;
}
.item{
    background-color: aqua;
    text-align: center;
    border: 1px solid black;
    flex-basis: 150px;
}