@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.container{
    background-color: salmon;
    display: flex;
    flex-flow: row wrap;
    align-content:space-around;
    height: 50vh;
}
.item{
    background-color: aqua;
    text-align: center;
    border: 1px solid black;
    padding: 40px;
}